html, body, div, span, h1, h2, h3, h4, h5, h6, p,
a, img, strong, b, u, i, ol, ul, li,
article, aside, figure, figcaption, footer, header, 
menu, nav, section, summary,
time, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face {
    font-family: 'SC Gum Kids';
    src: url('./fonts/SCGumKids.ttf');
}

@font-face {
    font-family: 'Sniglet';
    src: url('./fonts/Sniglet.ttf');
}

:root{
    --largura-display: 280px;
    --fonte-principal: 'SC Gum Kids', sans-serif;
    --fonte-secundaria: 'Sniglet', sans-serif;
}

body{
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("./img/back2.jpg");
    background-size: cover;
}

/* CLASSE DO EASTER EGG */
.fundo-easter-egg{
    background-image: url(./img/fundo-de-moedas.jpg);
}
/* CLASSE DO EASTER EGG */

img{
    position: absolute;
}

ul{
    position: absolute;
    top:20px;
    right:40px;
    margin: 0;
    padding: 0;
    width:100px;
    height:30px;
    z-index:1;
    border: 1px solid #000;
    background: #fff;
    cursor: pointer;
    font-family: sans-serif;
}

ul li{
    list-style: none;
    width: 100%;
    height: 60px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
}

ul li span{
    display: block;
    height: 30px;
    line-height: 30px;
    width: 100% ;
}

.audio{
    display: none;
    width: 70px;
    cursor: pointer;
}
/* ul li span:nth-child(1){ */ .dark{
    color:  #262626;
    background:#fff;
    border: 2px solid #000 ;
    font-family: sans-serif;
    letter-spacing: 3px;
   
}

/* ul li span:nth-child(2){*/ .light{
    color:  #262626;
    background:#fff;
    border: 2px solid #000 ;
    display: none;
    font-family: sans-serif;
    letter-spacing: 3px;
}

.dark:hover{
    transform: scale(1.4, 1.4);
    transition: 0.4s; 
}


header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}
h1:hover{
    transition: 2s;
    transform: rotate(-34deg)
}


header h1 {
    padding-top: 120px;
    font-size: 3.5rem;
    font-family: var(--fonte-secundaria);
    color: #F6F6F6;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
    -moz-transform: rotate(326deg);
    -webkit-transform: rotate(326deg);
    -o-transform: rotate(326deg);
    -ms-transform: rotate(326deg);
    transform: rotate(326deg);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    margin-bottom: 0;
    max-width: 350px;
}

span {
    color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #000;
}

#regras {
    color: #F6F6F6;
    font-size: 1.4rem;
    font-family: var(--fonte-principal);
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: justify;
}

    #regras p {
        margin: 1.75rem;
        text-indent: 2.5rem;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #000;
    }

    .texto-completo {
        display: none;
    }

button {
    margin: 1.5rem;
    background: rgba(211, 213, 218, 0.808);
    border: solid 2px rgb(0, 0, 0);
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    padding: 1.25rem;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(143, 143, 143);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}

button:hover {
    background-color: rgba(237, 239, 243, 0.89);
}

button:active {
    background-color: rgba(88, 88, 90, 0.808);
    color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    transition-duration: 0.25s;
  }

.hidden {
    display: none;
}

.form {
    display: none;
    font-size: 2.25rem;
    font-family: var(--fonte-principal);
    color: #F6F6F6;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.jogadores-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .jogadores-form input {
        font-size: 1.5rem;
        font-family: var(--fonte-principal);
        margin: 3rem 0;
        padding: 0.75rem;
        border: solid 2px rgb(0, 0, 0);
        border-radius: 15px;
    }

    .aviso-kenzie span {
        color: rgba(78, 118, 251, 0.767);
    }

    .aviso-pato span {
        color: rgba(255, 54, 54, 0.767)
    }

    .jogadores-form button:active,
    #iniciar:active,
    #reiniciar:active,
    #zerar:active {
        background-color: rgba(138, 246, 123, 0.808);
    }

    .paragrafo-kenzinho, .paragrafo-davis {
        margin-top: 4rem;
    }

    #aviso-pagamento{
        display: flex;
        justify-content: center;
        margin: 50px;
    }

#jogador1 {
    background-color: rgba(78, 118, 251, 0.767);
}

#jogador2 {
    background-color: rgba(255, 54, 54, 0.767);
}

.teste{
    display: none;
}

#game{
    height: 200px;
    width: 280px;
    display: none;
    width: var(--largura-display);
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    margin: auto;
    padding-bottom: 20px;
}

.torre{
    width: 50px;
    height: 180px;
    border: solid 2px rgb(0, 0, 0);
    display: flex;
    flex-direction: column-reverse;
    cursor: pointer;
    background: rgba(211, 213, 218, 0.808);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

.torre:hover{
    background: rgba(255, 255, 255, 0.87);
}

.bolinhaJogador1{
    height: 30px;
    width: 36px;
    border-radius: 100%;
    background: radial-gradient(circle at 65% 15%, white 1px, aqua 15%, darkblue 60%, aqua 100%);  
    pointer-events: none;
}

.bolinhaJogador2{
    height: 30px;
    width: 36px;
    border-radius: 100%;
    background: radial-gradient(circle at 65% 15%, white 1px, rgb(220, 20, 37) 15%, rgb(46, 27, 27) 60%, crimson 100%);
    pointer-events: none;
}


.verde{
    height: 25px;
    width: 36px;
    pointer-events: none;
}

.pato{
    border-radius: 100%;
    background-image: url(img/pato.svg);
}
.kenzie{
    background-repeat: no-repeat;
    background-image: url(img/logokenzie.svg);
}


.vitoria-alerta1,.vitoria-alerta2, .empate-alerta, #aviso-pagamento{
    padding: 20px;
    font-size: 2rem;
    bottom: 300px;
    position: absolute;
    border: white;
    border-radius: 30px;
    font-family: var(--fonte-secundaria);
    box-shadow: -1px -2px 27px 58px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px -2px 27px 58px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -2px 27px 58px rgba(0,0,0,0.75);
    color:white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
.vitoria-alerta1{
    background-color: darkblue;
}
.vitoria-alerta2{
    background-color: rgb(139, 0, 0);
}
.empate-alerta, #aviso-pagamento{
    background-color: rgb(0, 139, 58);
}

#caixa-placar{
    display: none;
    width: calc(var(--largura-display)/2);
    margin: 1rem auto;
    justify-content: space-around;
    align-items: center;
}
.placar{
    background-color: white;
    width: 50%;
    height: 3rem;
}
.placar-jogador-1{
    background: radial-gradient(circle at 65% 15%, white 1px, rgb(0, 132, 255) 15%, rgb(0, 25, 139) 60%, aqua 100%);  
    border-radius: 50px 0 0 50px;
    border: 2px solid white;
    border-right: none;
}
.placar-jogador-2{
    background: radial-gradient(circle at 65% 15%, white 1px, rgb(220, 67, 20) 15%, rgb(46, 35, 27) 60%, crimson 100%);
    border-radius: 0 50px 50px 0;
    border: 2px dashed white;
    border-left: none;
    opacity: 0.6;
}

/* CLASSES EASTER-EGG */
.dodgerblue{
    background: dodgerblue;
}
.yellow{
    background: yellow;
}
/* CLASSES EASTER-EGG */

.placar--pontos{
    color: white;
    font-size: 2.5rem;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0;
}

#timer{
    display: none;
    background-color: white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid black;
    border-right: 2px solid black;
    justify-content: center;
    align-items: center;
    height: 3rem;
    min-width: 2rem;
    font-family: emoji;
}



/* EFEITO 1 */
.bolinhaJogador1, .bolinhaJogador2 {
    animation-name: SlideParaBaixoGiratorio;
    animation-duration: 1.3s;
    animation-fill-mode: both;
    }
    @keyframes SlideParaBaixoGiratorio {
        0% {
        opacity: 0;
        animation-timing-function: ease-in;
        transform: translateY(-500px) rotate(-200deg);
        visibility: visible;
        /* transform: rotate3d(0, 0, 1, -200deg); */
        }
        50% {
        opacity: 0.5;
        animation-timing-function: ease-out;
        transform: translateY(-100px);
        visibility: visible; 
        }
        100% {
        opacity: 1;
        animation-timing-function: ease-in;
        transform: translateY(0) rotate(none);
        }
    }
    


@media (min-width:480px) {
    :root{
        --largura-display: 400px;
    }

    #regras {
        font-size: 2rem;
    }
    
    header h1 {
        margin-top: 4rem;
        font-size: 5.5rem;
        padding-top: 10px;
    }

    #game{
        height: 300px;
        width: var(--largura-display);
    }
    
    .torre{
        width: 100px;
        height: 360px;
    }

    .bolinhaJogador1{
        height: 60px;
        width: 53px;
    }
    
    .bolinhaJogador2{
        height:60px ;
        width: 53px;
    }

    .vitoria-alerta1,.vitoria-alerta2, .empate-alerta, #aviso-pagamento{
        padding: 20px;
        font-size: 3rem;
        bottom: 300px;
    }

    #caixa-placar{
        width: calc(var(--largura-display)/2);
        position: relative;
        top: -60px;
    }

    #timer{
        min-width: 4rem;
        font-size: 2rem;
    }

    .hidden{
        position: relative;
        top: -50px;
        margin-top: 44px;
        margin-bottom: 20px;
    }
}
@media (min-width:600px) {
    :root{
        --largura-display: 600px;
    }

    #game{
        height: 450px;
        width: var(--largura-display);
    }

    #aviso-pagamento{
        display: flex;
        justify-content: center;
        margin: 50px;
        font-size: 3rem;
    }

    .torre{
        width: 100px;
        height: 450px;
    }

    .bolinhaJogador1{
        height: 75px;
        width: 81px;
    }
    
    .bolinhaJogador2{
        height: 75px;
        width: 81px;
    }
    .vitoria-alerta1,.vitoria-alerta2, .empate-alerta, #aviso-pagamento{
        padding: 20px;
        font-size: 5rem;
        bottom: 300px;
    }

    #caixa-placar{
        width: calc(var(--largura-display)/2);
        top: 0px;
    }

    .hidden{
        position: relative;
        top: 0px
    }

}     
@media (min-width:801px) { 
    :root{
        --largura-display: 800px;
    }

    header h1 {
        margin-top: 6rem;
        font-size: 7rem;
    }

    .texto-completo {
        display: block;
    }

    .texto-reduzido {
        display: none;
    }

    #reiniciar {
        margin-top: 2rem;
    }

    #game{
        height: 600px;
        width: var(--largura-display);
    }
    
    .torre{
        width: 100px;
        height: 600px;
    }

    .bolinhaJogador1{
        height: 100px;
        width: 100px;
    }

    .verde{
        height: 100px;
        width: 100px;
    }
    
    .bolinhaJogador2{
        height: 100px;
        width: 100px;
    }

    .vitoria-alerta1,.vitoria-alerta2, .empate-alerta, #aviso-pagamento{
    padding: 20px;
    font-size: 7rem;
    bottom: 300px;
    }

    button {
        font-size: 1.75rem;
    }

    #caixa-placar{
        width: calc(var(--largura-display)/2);
    }

    .audio{
        display: block;
        position: absolute;
        right: 60px;
        top: 80px;
        width: 50px;
    }

}

/* EFEITO 2 */
.vitoria-alerta1,.vitoria-alerta2, .empate-alerta, #aviso-pagamento{
    animation-name: efeitoBorracha;
    animation-duration: 1s;
    animation-fill-mode: both;
}
    @keyframes efeitoBorracha {
    0% {
    transform: scale3d(1, 1, 1);
    }
    30% {
    transform: scale3d(1.25, 0.75, 1);
    }
    40% {
    transform: scale3d(0.75, 1.25, 1);
    }
    50% {
    transform: scale3d(1.15, 0.85, 1);
    }
    65% {
    transform: scale3d(.95, 1.05, 1);
    }
    75% {
    transform: scale3d(1.05, .95, 1);
    }
    100% {
    transform: scale3d(1, 1, 1);
    }
    }


.vitoria-alerta1,.vitoria-alerta2, .empate-alerta, #vitoria{
    animation-name: efeitoSumir;
    animation-duration: 4s;
    animation-fill-mode: both;
}
    @keyframes efeitoSumir {
    0% {
    opacity: 1;
    }
    50%{
        opacity: 1;
    }
    100% {
    opacity: 0;
    }
    }


.verde {
    animation-name: tremer;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    }
@keyframes tremer {
    0%, 100% {
    transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-5px, 0, 0);
    }
    20%, 40%, 60%, 80% {
    transform: translate3d(5px, 0, 0);
    }
}